

<!--MAYBE IT SHOULD BE A COMPONENT BY ITSELF-->
<!--<div >-->
<!--  <mat-card class=" research card">-->
<!--    <mat-card-header class="mat-card-header">-->
<!--      <mat-card-title class="title">Map Reduce by Google</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p></p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-footer>Linking</mat-card-footer>-->
<!--  </mat-card>-->
<!--</div>-->
<div>
  <h1>My Research Work</h1>
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="title">Planetary Trajectory Retracing</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        for now nothing
      </p>
      <mat-card-footer>
        <p>
          This is at the Physics Department in <a href="https://www.nku.edu/academics/artsci/about/departments/pget.html">Northern Kentucky University</a>
        </p>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <!-- What i am currently reading now -->
  <div class="current-reading">
    <h2>Papers I am currently reading</h2>
    <mat-card class="mat-card">
      <mat-card-header class="mat-card-header">
        <mat-card-title class="title">Map Reduce by Google</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          for now nothing
        </p>
      </mat-card-content>
      <mat-card-footer>
        <a href="https://static.googleusercontent.com/media/research.google.com/en//archive/mapreduce-osdi04.pdf">Map reduce</a>
      </mat-card-footer>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="mat-card">
      <mat-card-header class="mat-card-header">
        <mat-card-title class="title">Google File System GFS by Google</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          for now nothing
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
