nav{
  justify-content: space-around;
  /*margin: 5px;*/
  padding: 17px;
  background-color: gray;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav ul li a{
  text-decoration: none;
}

