nav{
  justify-content: space-around;
  padding: 17px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav ul li a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  background-color: gray;
}

@media screen and (max-width: 768px) {

  nav{
    box-shadow: 0px 0px 0px 0px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .burger-menu {
    display: block;
  }
}
